<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <com.ibm.appscan.jenkins.plugin.builders.AppScanBuildStep plugin="ibm-application-security@1.1.2-SNAPSHOT">
      <m__scanner class="com.ibm.appscan.jenkins.plugin.scanners.StaticAnalyzer">
        <m__target>/Users/markpreschern/desktop/ibm-asoc-plugin/target</m__target>
        <m__hasOptions>false</m__hasOptions>
      </m__scanner>
      <m__name>Mobile_Test</m__name>
      <m__type>Static Analyzer</m__type>
      <m__application>1</m__application>
      <m__credentials>7d2ac0c4-9a2d-46af-a6df-aff36be8d377</m__credentials>
      <m__reportLocation>/Users/markpreschern/desktop/FileNameMobil</m__reportLocation>
      <m__emailNotification>false</m__emailNotification>
      <m__wait>false</m__wait>
      <m__failBuild>false</m__failBuild>
      <m__saveReport>true</m__saveReport>
    </com.ibm.appscan.jenkins.plugin.builders.AppScanBuildStep>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>